.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    font-size: 50px;
}

.logo__main-text {
    color: var(--main-text-color);
}

.logo__secondary-text {
    color: var(--main-text-color-secondary);
}