body {
  margin: 0;
  font-family:'Playfair Display', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Theming */
    /* --main-bg-color: #FEFAE0; */
    --main-bg-color: #FFFFFF;
    --main-bg-color-dark: #000000;

    --main-text-color: #000000;
    --main-text-color-dark: #FFFFFF;

    --primary-color: #CCD5AE;
    --primary-color-light: #E9EDC9;
    --secondary-color: #D4A373;
    --secondary-color-light: #FAEDCD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
